/* source-serif-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/source-serif-pro-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/source-serif-pro-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../../assets/fonts/source-serif-pro-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/source-serif-pro-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../assets/fonts/source-serif-pro-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/source-serif-pro-v15-latin-regular.svg#SourceSerifPro')
      format('svg'); /* Legacy iOS */
}

/* source-serif-pro-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/source-serif-pro-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/source-serif-pro-v15-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/source-serif-pro-v15-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/source-serif-pro-v15-latin-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../assets/fonts/source-serif-pro-v15-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/source-serif-pro-v15-latin-600.svg#SourceSerifPro')
      format('svg'); /* Legacy iOS */
}
/* Satoshi Medium */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Satoshi';
  font-style: Medium;
  font-weight: 500;
  src: url('../../assets/fonts/Satoshi-Medium.eot') /* IE9 Compat Modes */
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/Satoshi-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../assets/fonts/Satoshi-Medium.woff')
      format('woff'),
    /* Modern Browsers */ url('../../assets/fonts/Satoshi-Medium.ttf')
      format('truetype');
}

/* Satoshi Bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Satoshi';
  font-style: Bold;
  font-weight: 700;
  src: url('../../assets/fonts/Satoshi-Bold.eot') /* IE9 Compat Modes */
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../assets/fonts/Satoshi-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../assets/fonts/Satoshi-Bold.woff')
      format('woff'),
    /* Modern Browsers */ url('../../assets/fonts/Satoshi-Bold.ttf')
      format('truetype');
}

/* Nagoda */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nagoda';
  font-style: Regular;
  font-weight: 400;
  src: url('../../assets/fonts/Nagoda.ttf') format('truetype');
}

/* Neutral Face */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Neutral Face';
  font-style: Regular;
  font-weight: 400;
  src: url('../../assets/fonts/NeutralFace.otf') format('truetype');
}

/* Neutral Face Bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Neutral Face';
  font-style: Bold;
  font-weight: 700;
  src: url('../../assets/fonts/NeutralFace-Bold.otf') format('opentype');
}

/* Basement Face Bold */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Basement Grotesque';
  font-style: Bold;
  font-weight: 700;
  src: url('../../assets/fonts/BasementGrotesque-Black_v1.202.otf')
    format('opentype');
}

body,
html {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  font-weight: 400;
}

main {
  margin: 150px auto auto auto;
  background-color: white;
  max-width: 54.375rem;
  font-size: 16px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  text-align: left;
}

.name-link,
.name-link:hover {
  text-decoration: none;
}

a {
  color: #0000ee;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #0000ee;
}

hr {
  max-width: 54.375rem;
  margin: 0 auto;
  padding: 0;
  border-top: 1.75px solid #24292f;
}

.header-container {
  padding-top: 2rem;
  background-color: white;
  max-width: 54.375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
}

header {
  max-width: 54.375rem;
  background-color: #24292f;
  margin: 2rem auto 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav-bar {
  padding: 0 2rem;
  justify-content: space-between;
  display: flex;
  background-color: white;
}

.nav-link {
  padding: 1rem 0;
}

.nav-link > a {
  color: #24292f;
}

.name-header {
  margin-bottom: 0;
  padding: 0.5rem 2rem;
  font-size: 250%;
  color: white;
  font-variant: small-caps;
}

.col-md-6 {
  padding: 0;
}

footer {
  background: white;
  z-index: 1;
  margin: auto;
}

.footer-container {
  display: flex;
  max-width: 54.375rem;
  margin: 1rem auto 2rem auto;
  justify-content: space-between;
}

.ico-container {
  display: flex;
  gap: 1.5rem;
}

.icon {
  width: 2rem;
  cursor: pointer;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.icon:hover {
  filter: grayscale(0%);
}

.footer-text {
  font-size: 10px;
  text-align: right;
  padding-top: 0.5rem;
}

.toggle-container {
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 4rem auto;
}

@media only screen and (max-width: 54.375em) {
  header {
    padding-top: 0;
    margin-top: 0;
  }
  .ico-container {
    margin-left: 2rem;
    gap: 2rem;
  }
  .icon {
    width: 2.25rem;
  }
  .footer-text {
    padding-top: 0.75rem;
  }
  .footer-text {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 40.625em) {
  .link-container {
    margin-bottom: 2rem;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ico-container {
    gap: 8rem;
    margin: 1rem 0 2rem 0;
  }
  .footer-text {
    margin: 0;
  }
  header {
    margin-top: 0;
  }
  .name-header {
    font-size: 200%;
  }
  main {
    margin-top: 121.5px;
  }
  .icon {
    filter: none;
    width: 2.5rem;
  }
  .footer-text {
    padding-top: 1.25rem;
  }
}
