.card {
  padding: 0 1.2rem 1.2rem 1.2rem;
  border: none;
  background-color: whitesmoke;
}

.portrait {
  max-width: 225px;
  margin: 0 2rem 0 0;
}

.portrait-mobile-container {
  display: flex;
  justify-content: center;
  display: none;
}

.portrait-mobile {
  display: none;
  width: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-container {
  flex: 2;
  min-width: 250px;
  padding: 0 0 0 1.25rem;
}

.text-container p {
  margin-top: 1.75rem;
  font-family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times,
    serif;
  font-size: 17px;
}

.portrait-container {
  flex-basis: 175px;
  padding: 1.75rem 0 0.8rem 0;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

span {
  margin-top: 0.5rem;
  font-family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times,
    serif;
}

.resume-link {
  border: none;
  margin-right: 20px;
  background-color: #24292f;
  padding: 0.5rem 1.5rem;
  font-family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times,
    serif;
}

.resume-link > a {
  text-decoration: none;
  color: whitesmoke;
}

.contact-link {
  border: none;
  background-color: #24292f;
  margin-left: 20px;
  padding: 0.5rem 1.5rem;
  font-family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times,
    serif;
}

.contact-link > a {
  text-decoration: none;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .contact-link {
    padding: 0.5rem 0.75rem;
  }
  .resume-link {
    padding: 0.5rem 0.75rem;
  }
}

@media (width <= 650px) {
  .portrait,
  .portrait-container {
    display: none;
  }
  .text-container {
    padding: 0;
  }
  .portrait-mobile-container {
    display: flex;
    justify-content: center;
  }
  .portrait-mobile {
    width: 10rem;
    border: 5px solid #24292f;
    border-radius: 50%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }
  .portrait-mobile:hover {
    filter: grayscale(0%);
  }
}
