.intro-text {
  width: 80%;
  margin: 2rem auto 0 auto;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.project-outro {
  text-align: center;
  margin: 0 auto 3rem auto;
  max-width: 822px;
}

.row {
  margin-bottom: 3rem;
}

footer {
  background: whitesmoke;
}

.toggle-container {
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 4rem auto;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.card-deck {
  width: 95%;
  margin: auto;
}

.footer-container-projects {
  display: flex;
  max-width: 870px;
  justify-content: space-between;
  margin: 1rem auto 3rem auto;
}

@media (width <= 650px) {
  .intro-text {
    width: 95%;
  }
  .project-outro {
    margin: 2rem auto 3rem auto;
  }
}

@media (width <= 576px) {
  .row {
    margin: 0;
  }
}
