.intro-text {
  width: 80%;
  margin: 2rem auto 0 auto;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.project-outro {
  text-align: center;
  margin: 0 auto 3rem auto;
  max-width: 822px;
}

footer {
  background: whitesmoke;
}

.toggle-container {
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 4rem auto;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.card-deck {
  width: 95%;
  margin: auto;
}

.row {
  margin: 2rem;
}

@media only screen and (max-width: 40.625em) {
  .card-deck .card {
    margin-bottom: 2.5rem;
  }
  .row {
    margin: 0;
  }
  .intro-text {
    width: 95%;
  }
  .project-outro {
    margin: 2rem auto 3rem auto;
  }
}
